<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyResistorCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyResistoreCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A403F1DF21728B2A00ED0A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A43E33C7217260FD00459AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A43E33DD217260FD00459AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A43E33E8217260FD00459AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
